/*-- CSS reset --*/
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: 1em;
}

/*--starting main styling--*/

body {
    background: #f6f6f6;
    color: #333;
    font-family: Miller-Text, serif;
    font-size: 1.4rem;
}

section, header, footer {
    padding-right: 0rem;
    width: 100%;
    max-width: 700px;
    margin: auto;
    text-align: left;
}

section {
    margin-bottom: 8rem;
}

p, blockquote {
    padding: .5rem 0;
    line-height: 1.6;
}

header {
    margin-bottom: 10rem
}

h1, h2, h3 {
    color: rgb(22, 64, 38)
}

h1 {
    font-family: BD-Supper, sans-serif;
    font-size: 5.653rem;
    margin-top: 17.5rem;
    padding-bottom: 3rem;
    font-style: bold
}

h2 {
    font-family: BD-Supper, sans-serif;
    font-size: 2.5rem;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

h3 {
    font-family: BD-Supper, sans-serif;
    font-size: 2rem;
    padding-bottom: 1rem;
}

a {
    text-decoration: none;
}

blockquote {
    font-style: italic;
    color: rgb(22, 64, 38);
    margin: 2rem 2rem 2rem 2rem;
    line-height: 2rem;
}

/*--nav styling--*/

nav ul{
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color:rgb(22, 64, 38);
    padding: 3rem 15rem 3rem 0;
    font-family: BD-Supper, sans-serif;
    font: size 1.2rem;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
    background: none;
}

nav a {
    color:#f6f6f6;
}

nav a:hover {
    border-bottom: nono;
    color:rgb(95, 95, 95);;
    transition: all 0.3s ease-in-out;
}

html {
    scroll-padding-top: 10rem;
}

/*--footer styling--*/

footer {
    font-family: BD-Supper;
    font-size: 1rem;
    line-height: 4rem;
    padding-bottom: 10rem;
}

footer a{
    font-family: BD-Supper;
    font-size: 1.5rem;
    color:rgb(22, 64, 38);
    padding-right: 1rem;
}

footer h4{
    padding-top: 1.5rem;
}


